.MuiStepper-horizontal {
    background-color: transparent;
}

@media (max-width: 960px) {
    .select-margin {
        margin-bottom: 20px;
    }
}

.login-bg {
    height: 100%;
}

.MuiAppBar-root {
    box-shadow: none;
}

.MuiButton-outlined {
    border-color: white;
}
